.child{
  /* background-color: aqua; */
  width: 30rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.App-header{
  /* background-color: aquamarine; */
  width: 25rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.App{
  /* background-color: blue; */
  width: 100%;
  height: 100vh;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}